* {
    box-sizing:border-box;
}

body {
    margin: 0;
}

.Container {
    width: 100%;
    padding-right: 200px;
    padding-left: 200px;
}

.Footer {
    position: fixed;
    width: 100%;
    height: 100px;
}

    .Footer .Menu {
        display: flex;
        width: 100%;
        height: 100%;
    }

        .Footer .Menu .Logo {
            width: 80px;
            height: 100%;
            text-align: center;
        }

            .Footer .Menu .Logo .Logo_img {
                display: block;
                width: 100%;
                height: 60px;
                margin: 25px 0;
            }

        .Footer .Menu .Menu_Items {
            display: flex;
            margin-left: 50px;
            height: 110px;
            width: 50%;
            justify-content: space-between;
            align-items: center;
        }

            .Footer .Menu .Menu_Items .Item {
                font-family: 'Caveat', cursive;
                font-size: 20pt;
                text-decoration: none;
                color: black;
            }

            .Footer .Menu .Menu_Items .Email {
                font-family: 'Caveat', cursive;
                font-size: 20pt;
                text-decoration: none;
                color: black;
            }

.Header {
    width: 100%;
    min-height: 790px;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

    .Header .Container .Header_Items {
        width: 100%;
        height: 100%;
        text-align: left;
        padding-left: 150px;
        padding-top: 340px;
    }

        .Header .Container .Header_Items .Nick {
            margin: 0;
            font-family: 'Caveat', cursive;
            font-size: 40pt;
            color: black;
        }